<ion-content [fullscreen]="true" style="--background: white !important" class="p-0 m-0">

  <div class="d-flex justify-content-center mt-5 pt-5 pb-2">
    <img src="../../assets/nutriice_logo.png" width="250px" />
  </div>

  <ion-card class="shadow-none ">
    <ion-card-content class="ps-0">
      <ion-list>
        <ion-item>
          <ion-input label="Email" labelPlacement="stacked" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Senha" labelPlacement="stacked" placeholder=""></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" class="ms-4 mt-5" routerLink="/">Entrar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>