<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dieta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let refeicao of dieta.refeicoes; let i = index" class="shadow-none" [@fadeIn] [@fadeOut]>
    <ion-card-header>
      <b>{{refeicao.hora}}h - {{refeicao.refeicao}}</b>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <!-- Divide a descrição e cria uma lista -->
        <li *ngFor="let item of refeicao.descricao.split(',')" class="mb-2">
          {{ item.trim() }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <a href="assets/PLANEJAMENTO ALIMENTAR 19 - Lucas.pdf" target="_blank">
    <ion-fab-button>
      <ion-icon name="download"></ion-icon>
    </ion-fab-button>
  </a>
</ion-fab>